body {
  margin: 0;
  padding: 0;
}
.main {
  
  width: 300px;
  height: 300px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: powderblue;
  border-radius: 10px;
  position: relative;
  transform: translate(30%, 20%);
}

.main::after {
  content: "New line";
  background-color: chocolate;
  top: 10%;
  /* left: 50%; */
  position: absolute;
}
.main::before {
  content: "Before";
  transform: translateX(-100%);
  color: goldenrod;
  /* transform: translateY(120%); */
}

.second {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  /* position: absolute;
    top: 0;
    left: 50%; */
  display: grid;
  justify-content: center;
  align-items: center;
}
.grid-div {
  display: grid;
  grid-template-columns: 40% 40%;
  align-items: center;
  justify-content: center;
  gap: 15px 5px;
}
.grid-div div {
  width: 100%;
  height: 50px;
  border: 1px solid red;
  display: grid;
  align-items: center;
  justify-content: center;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;

  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
