* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
  padding: 15px;
  /* background-color: black; */
  color: white;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #1dd305, 0 0 15px red;
}
.main {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  color: black;
  margin-left: 50px;
  transition: 1s;
}

.main:hover {
  cursor: pointer;
  box-shadow: 2px 4px 15px rgb(22, 14, 14);
  background-color: #4caf50;
  border: none;
  transform: translateX(60px);
}

.test {
  background-color: #ff0000;
}
